In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import numpy as np

In [2]:
dpto = pd.read_csv("dpto.csv")
dpto

,DPTO_REF_ID,PROV_REF_ID,IDDPTO,DPTO,NOMDPTO
0,1,1,1,2001,Comuna 01 ...
1,2,1,2,2002,Comuna 02 ...
2,3,1,3,2003,Comuna 03 ...
3,4,1,4,2004,Comuna 04 ...
4,5,1,5,2005,Comuna 05 ...
5,6,1,6,2006,Comuna 06 ...
6,7,1,7,2007,Comuna 07 ...
7,8,1,8,2008,Comuna 08 ...
8,9,1,9,2009,Comuna 09 ...
9,10,1,10,2010,Comuna 10 ...
10,11,1,11,2011,Comuna 11 ...
11,12,1,12,2012,Comuna 12 ...
12,13,1,13,2013,Comuna 13 ...
13,14,1,14,2014,Comuna 14 ...
14,15,1,15,2015,Comuna 15 ...

In [3]:
prov = pd.read_csv("prov.csv")
prov

,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV
0,1,1,2,2,Ciudad Autónoma de Buenos Aires ...
1,2,1,6,6,Buenos Aires ...
2,3,1,10,10,Catamarca ...
3,4,1,14,14,Córdoba ...
4,5,1,18,18,Corrientes ...
5,6,1,22,22,Chaco ...
6,7,1,26,26,Chubut ...
7,8,1,30,30,Entre Ríos ...
8,9,1,34,34,Formosa ...
9,10,1,38,38,Jujuy ...
10,11,1,42,42,La Pampa ...
11,12,1,46,46,La Rioja ...
12,13,1,50,50,Mendoza ...
13,14,1,54,54,Misiones ...
14,15,1,58,58,Neuquén ...
15,16,1,62,62,Río negro ...
16,17,1,66,66,Salta ...
17,18,1,70,70,San Juan ...
18,19,1,74,74,San Luis ...
19,20,1,78,78,Santa Cruz ...
20,21,1,82,82,Santa Fe ...
21,22,1,86,86,Santiago del Estero ...
22,23,1,90,90,Tucumán ...
23,24,1,94,94,Tierra del Fuego ...

In [4]:
prov_dpto_in = pd.merge(prov, dpto, on="PROV_REF_ID", how="inner")
prov_dpto_in

,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,DPTO_REF_ID,IDDPTO,DPTO,NOMDPTO
0,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,1,2001,Comuna 01 ...
1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,2,2,2002,Comuna 02 ...
2,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,3,3,2003,Comuna 03 ...
3,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,4,4,2004,Comuna 04 ...
4,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,5,5,2005,Comuna 05 ...
5,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,6,6,2006,Comuna 06 ...
6,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,7,7,2007,Comuna 07 ...
7,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,8,8,2008,Comuna 08 ...
8,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,9,9,2009,Comuna 09 ...
9,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,10,10,2010,Comuna 10 ...
10,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,11,11,2011,Comuna 11 ...
11,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,12,12,2012,Comuna 12 ...
12,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,13,13,2013,Comuna 13 ...
13,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,14,14,2014,Comuna 14 ...
14,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,15,2015,Comuna 15 ...

In [5]:
frac = pd.read_csv("frac.csv")
frac

     FRAC_REF_ID  DPTO_REF_ID  IDFRAC
0              1            1       1
1              2            1       2
2              3            1       3
3              4            1       4
4              5            1       5
..           ...          ...     ...
346          347           15      17
347          348           15      18
348          349           15      19
349          350           15      20
350          351           15      21

[351 rows x 3 columns]

In [6]:
frac_dp_in = pd.merge(frac, prov_dpto_in, on="DPTO_REF_ID", how="inner")
frac_dp_in

,FRAC_REF_ID,DPTO_REF_ID,IDFRAC,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,IDDPTO,DPTO,NOMDPTO
0,1,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
1,2,1,2,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
2,3,1,3,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
3,4,1,4,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
4,5,1,5,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
...,...,...,...,...,...,...,...,...,...,...,...
346,347,15,17,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
347,348,15,18,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
348,349,15,19,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
349,350,15,20,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
350,351,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...

In [7]:
radio = pd.read_csv("radio.csv")
radio

      RADIO_REF_ID  FRAC_REF_ID  IDRADIO
0                1            1        1
1                2            2        1
2                3            2        2
3                4            2        3
4                5            2        4
...            ...          ...      ...
3547          3549          351        9
3548          3550          351       10
3549          3551          351       11
3550          3552          351       12
3551          3553          351       13

[3552 rows x 3 columns]

In [32]:
radio_frac_in = pd.merge(radio, frac_dp_in, on="FRAC_REF_ID", how="inner")

In [9]:
vivienda = pd.read_csv("vivienda.csv")
vivienda = vivienda

In [10]:
radiofrac_viv_in = pd.merge(vivienda,radio_frac_in,on="RADIO_REF_ID",how="inner")
radiofrac_viv_in

,VIVIENDA_REF_ID,RADIO_REF_ID,TIPVV,V01,V02,V00,URP,INCALSERV,INMAT,MUNI,...,DPTO_REF_ID,IDFRAC,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,IDDPTO,DPTO,NOMDPTO
0,1,1,1,1,1,0,1,1,1,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
1,2,1,1,7,1,0,1,1,2,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
2,3,1,1,4,1,0,1,1,1,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
3,4,1,1,4,1,0,1,1,1,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
4,5,1,1,1,1,0,1,3,3,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085458,1426434,3553,1,4,1,0,1,1,1,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1085459,1426435,3553,1,4,1,0,1,1,1,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1085460,1426436,3553,1,4,1,0,1,1,1,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1085461,1426437,3553,2,0,0,9,1,0,0,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1085462,1426438,3553,2,0,0,1,1,0,0,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...

In [11]:
hogar = pd.read_csv("hogar.csv")
hogar.head()

,HOGAR_REF_ID,VIVIENDA_REF_ID,NHOG,H05,H06,H07,H08,H09,H10,H11,...,H15,H16,H19A,H19B,H19C,H19D,PROP,INDHAC,TOTPERS,ALGUNBI
0,1,1,1,1,4,1,1,1,1,1,...,2,2,1,2,1,2,5,1,1,0
1,2,1,2,1,1,1,1,1,1,1,...,1,2,1,1,1,1,1,1,1,0
2,3,1,4,1,3,1,1,1,1,1,...,3,5,1,1,1,1,1,1,2,0
3,4,1,6,1,1,1,1,1,1,1,...,3,5,1,1,1,1,5,6,8,1
4,5,2,1,1,1,2,1,1,1,1,...,5,5,1,1,2,1,6,1,2,1

In [12]:
radiofracviv_hog_in = pd.merge(hogar,radiofrac_viv_in,on="VIVIENDA_REF_ID",how="inner")
radiofracviv_hog_in

,HOGAR_REF_ID,VIVIENDA_REF_ID,NHOG,H05,H06,H07,H08,H09,H10,H11,...,DPTO_REF_ID,IDFRAC,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,IDDPTO,DPTO,NOMDPTO
0,1,1,1,1,4,1,1,1,1,1,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
1,2,1,2,1,1,1,1,1,1,1,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
2,3,1,4,1,3,1,1,1,1,1,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
3,4,1,6,1,1,1,1,1,1,1,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
4,5,2,1,1,1,2,1,1,1,1,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1152594,1152595,1426434,1,1,2,1,1,1,1,1,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1152595,1152596,1426435,1,1,1,1,1,1,1,1,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1152596,1152597,1426436,1,1,1,1,1,1,1,1,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1152597,1152598,1426437,1000,0,0,0,0,0,0,0,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1152598,1152599,1426438,1000,0,0,0,0,0,0,0,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...

In [13]:
persona = pd.read_csv("persona.csv")
persona.head()

,PERSONA_REF_ID,HOGAR_REF_ID,P01,P02,P03,P05,P06,P07,P12,EDADAGRU,EDADQUI,P08,P09,P10,CONDACT
0,1,1,1,2,61,1,0,1,2,2,13,2,4,2,1
1,2,2,1,1,48,1,0,1,1,2,10,2,4,1,1
2,3,3,1,1,65,1,0,1,1,3,14,2,7,2,1
3,4,3,2,2,62,1,0,1,1,2,13,2,6,1,3
4,5,4,1,1,20,2,221,1,1,2,5,1,4,2,1

In [14]:
radiofracvivhog_per_in = pd.merge(persona,radiofracviv_hog_in,on="HOGAR_REF_ID",how="inner")
radiofracvivhog_per_in

,PERSONA_REF_ID,HOGAR_REF_ID,P01,P02,P03,P05,P06,P07,P12,EDADAGRU,...,DPTO_REF_ID,IDFRAC,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,IDDPTO,DPTO,NOMDPTO
0,1,1,1,2,61,1,0,1,2,2,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
1,2,2,1,1,48,1,0,1,1,2,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
2,3,3,1,1,65,1,0,1,1,3,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
3,4,3,2,2,62,1,0,1,1,2,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
4,5,4,1,1,20,2,221,1,1,2,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890146,2890147,1152599,0,2,95,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
2890147,2890148,1152599,0,2,91,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
2890148,2890149,1152599,0,2,83,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
2890149,2890150,1152599,0,2,89,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
2890150,2890151,1152599,0,1,93,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...

Sacar los códigos

In [24]:
radio_frac_in

,RADIO_REF_ID,FRAC_REF_ID,IDRADIO,DPTO_REF_ID,IDFRAC,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,IDDPTO,DPTO,NOMDPTO
0,1,1,1,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
1,2,2,1,1,2,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
2,3,2,2,1,2,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
3,4,2,3,1,2,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
4,5,2,4,1,2,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3547,3549,351,9,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
3548,3550,351,10,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
3549,3551,351,11,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
3550,3552,351,12,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
3551,3553,351,13,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...

In [39]:
radio_frac_in["IDRADIO"] = radio_frac_in["IDRADIO"].astype(str)

In [35]:
radio_frac_in["IDDPTO"] = radio_frac_in["IDDPTO"].astype(str)

In [36]:
radio_frac_in["IDFRAC"] = radio_frac_in["IDFRAC"].astype(str)

In [37]:
radio_frac_in["IDPROV"] = radio_frac_in["IDPROV"].astype(str)

In [44]:
MasterID = radio_frac_in["MasterID"] = radio_frac_in["IDPROV"] + radio_frac_in["IDDPTO"] + radio_frac_in["IDFRAC"] + radio_frac_in["IDRADIO"]
MasterID

0          2111
1          2121
2          2122
3          2123
4          2124
         ...
3547     215219
3548    2152110
3549    2152111
3550    2152112
3551    2152113
Length: 3552, dtype: object

In [45]:
MasterID = MasterID.to_frame()

In [47]:
MasterID = MasterID.rename(columns={0:"MasterID"})
MasterID

     MasterID
0        2111
1        2121
2        2122
3        2123
4        2124
...       ...
3547   215219
3548  2152110
3549  2152111
3550  2152112
3551  2152113

[3552 rows x 1 columns]