In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import numpy as np

In [23]:
pasoxpartido = pd.read_csv(
    'paso_x_partido.csv',
    delimiter=',', 
    index_col=0
)
pasoxpartido

      circuito  urna  pp1  pp2  pp3  pp4  nv
0            1     0   64   74   49   50  63
1            1     1   79   81   44   36  60
2            1     2   72   74   55   34  65
3            1     3   82   80   37   38  63
4            1     4   64   87   57   28  64
...        ...   ...  ...  ...  ...  ...  ..
7634       167    32   76   46   56   66  56
7635       167    33   62   59   51   57  71
7636       167    34   63   52   51   69  65
7637       167    35   68   66   51   64  51
7638       167    36   70   42   39   57  41

[7639 rows x 7 columns]

In [22]:
agrupxpartido = pd.read_csv(
    'datos_agrup.csv',
    delimiter=',', 
    index_col=0
)
agrupxpartido

,CODIGO_SECCION,CODIGO_CIRCUITO,CODIGO_MESA,CODIGO_CATEGORIA,CODIGO_AGRUPACION,VOTOS_AGRUPACION,NOMBRE_CATEGORIA,NOMBRE_REGION,NOMBRE_AGRUPACION
CODIGO_DISTRITO,,,,,,,,,
1,1001,1001000001,0100100001X,100000000000,13,1,Presidente y Vicepresidente de la República,COMUNA 01,MOVIMIENTO AL SOCIALISMO
1,1001,1001000001,0100100001X,100000000000,131,5,Presidente y Vicepresidente de la República,COMUNA 01,FRENTE NOS
1,1001,1001000001,0100100001X,100000000000,132,2,Presidente y Vicepresidente de la República,COMUNA 01,FRENTE PATRIOTA
1,1001,1001000001,0100100001X,100000000000,133,15,Presidente y Vicepresidente de la República,COMUNA 01,FRENTE DE IZQUIERDA Y DE TRABAJADORES - UNIDAD
1,1001,1001000001,0100100001X,100000000000,135,85,Presidente y Vicepresidente de la República,COMUNA 01,JUNTOS POR EL CAMBIO
...,...,...,...,...,...,...,...,...,...
1,1015,1015000167,0101507413X,901015000000,87,7,Junta Comunal Ciudad Autónoma de Buenos Aires ...,COMUNA 15,UNITE POR LA LIBERTAD Y LA DIGNIDAD
1,1015,1015000167,0101507413X,901015000000,VB,25,Junta Comunal Ciudad Autónoma de Buenos Aires ...,COMUNA 15,BLANCO
1,1015,1015000167,0101507413X,901015000000,VII,0,Junta Comunal Ciudad Autónoma de Buenos Aires ...,COMUNA 15,IMPUGNADO
1,1015,1015000167,0101507413X,901015000000,VN,0,Junta Comunal Ciudad Autónoma de Buenos Aires ...,COMUNA 15,NULO
1,1015,1015000167,0101507413X,901015000000,VR,0,Junta Comunal Ciudad Autónoma de Buenos Aires ...,COMUNA 15,RECURRIDO

In [36]:
#Las comunas están asociadas con un intervalo de código de circuitos. 
#Por lo tanto, es posible agrupar los circuitos por comuna y rescatar cuánto acumula por comuna nuestro candidato 
intervalo_comuna = (agrupxpartido[["NOMBRE_REGION","CODIGO_CIRCUITO"]]
    .groupby(["NOMBRE_REGION"])
    .agg(["min","max"])
)
intervalo_comuna

              CODIGO_CIRCUITO
                          min         max
NOMBRE_REGION
COMUNA 01          1001000001  1001000019
COMUNA 02          1002000020  1002000029
COMUNA 03          1003000030  1003000042
COMUNA 04          1004000043  1004000057
COMUNA 05          1005000058  1005000067
COMUNA 06          1006000068  1006000074
COMUNA 07          1007000075  1007000086
COMUNA 08          1008000087  1008000090
COMUNA 09          1009000091  1009000101
COMUNA 10          1010000102  1010000112
COMUNA 11          1011000113  1011000123
COMUNA 12          1012000124  1012000133
COMUNA 13          1013000134  1013000147
COMUNA 14          1014000148  1014000157
COMUNA 15          1015000158  1015000167

In [37]:
#Agrupamos los votos de cada partido por circuito
votosxcircuito = (pasoxpartido[["circuito" , "pp2", "pp1" , "pp3" , "pp4" , "nv"]]
    .groupby(["circuito"])
    .agg(["sum"])
)
votosxcircuito

           pp2   pp1   pp3   pp4    nv
           sum   sum   sum   sum   sum
circuito
1         2113  1955  1237  1182  1655
2         2122  2005  1220  1390  1618
3          812   600   286   383   509
4          371   336   140   196   240
5         4071  4053  3029  2929  3443
...        ...   ...   ...   ...   ...
163       2276  2290  2040  2174  2174
164       1900  2095  2039  2106  2119
165       3588  3618  3157  3399  3501
166       2569  2970  2773  2878  2798
167       2033  2358  2091  2317  2250

[167 rows x 5 columns]

In [7]:
#Agregamos un índice
votosxcircuito.reset_index(inplace=True)
votosxcircuito

    circuito   pp2   pp1   pp3   pp4    nv
               sum   sum   sum   sum   sum
0          1  2113  1955  1237  1182  1655
1          2  2122  2005  1220  1390  1618
2          3   812   600   286   383   509
3          4   371   336   140   196   240
4          5  4071  4053  3029  2929  3443
..       ...   ...   ...   ...   ...   ...
162      163  2276  2290  2040  2174  2174
163      164  1900  2095  2039  2106  2119
164      165  3588  3618  3157  3399  3501
165      166  2569  2970  2773  2878  2798
166      167  2033  2358  2091  2317  2250

[167 rows x 6 columns]

In [8]:
#Agregamos la columna "suma_votos" para conocer la cantidad de votantes por circuito
votosxcircuito['suma_votos'] = votosxcircuito.loc[0:167,["pp2","pp1",	"pp3", "pp4","nv"]].sum(axis=1)
votosxcircuito

    circuito   pp2   pp1   pp3   pp4    nv suma_votos
               sum   sum   sum   sum   sum
0          1  2113  1955  1237  1182  1655       8142
1          2  2122  2005  1220  1390  1618       8355
2          3   812   600   286   383   509       2590
3          4   371   336   140   196   240       1283
4          5  4071  4053  3029  2929  3443      17525
..       ...   ...   ...   ...   ...   ...        ...
162      163  2276  2290  2040  2174  2174      10954
163      164  1900  2095  2039  2106  2119      10259
164      165  3588  3618  3157  3399  3501      17263
165      166  2569  2970  2773  2878  2798      13988
166      167  2033  2358  2091  2317  2250      11049

[167 rows x 7 columns]

In [38]:
#Se suma cada variable para conocer: 1) la cantidad de votos que recibió cada partido y 2) los votos totales 
nueva_fila= votosxcircuito.sum()
nueva_fila

circuito             28056
pp2         sum     913026
pp1         sum     900952
pp3         sum     909628
pp4         sum     904210
nv          sum     906974
suma_votos         4534790
dtype: int64

In [18]:
censo = gpd.read_file('CABA.shp')
censo

,distrito,provincia,departamen,cabecera,circuito,indec_p,indec_d,geometry
0,01,Ciudad Autónoma de Buenos Aires,Comuna 1,Comuna 1,0003,02,001,"POLYGON Z ((-6496304.252 -4084732.697 0.000, -..."
1,01,Ciudad Autónoma de Buenos Aires,Comuna 4,Comuna 4,0045,02,004,"POLYGON Z ((-6501230.474 -4091702.182 0.000, -..."
2,01,Ciudad Autónoma de Buenos Aires,Comuna 3,Comuna 3,0037,02,003,"POLYGON Z ((-6501166.688 -4087904.826 0.000, -..."
3,01,Ciudad Autónoma de Buenos Aires,Comuna 1,Comuna 1,0018,02,001,"POLYGON Z ((-6498832.986 -4088373.028 0.000, -..."
4,01,Ciudad Autónoma de Buenos Aires,Comuna 13,Comuna 13,0141,02,013,"POLYGON Z ((-6503862.400 -4078547.361 0.000, -..."
...,...,...,...,...,...,...,...,...
162,01,Ciudad Autónoma de Buenos Aires,Comuna 13,Comuna 13,0135,02,013,"POLYGON Z ((-6507834.614 -4077215.626 0.000, -..."
163,01,Ciudad Autónoma de Buenos Aires,Comuna 14,Comuna 14,0149,02,014,"POLYGON Z ((-6503253.371 -4080723.227 0.000, -..."
164,01,Ciudad Autónoma de Buenos Aires,Comuna 9,Comuna 9,0101,02,009,"POLYGON Z ((-6515182.479 -4090061.116 0.000, -..."
165,01,Ciudad Autónoma de Buenos Aires,Comuna 10,Comuna 10,0102,02,010,"POLYGON Z ((-6514598.831 -4088679.114 0.000, -..."
166,01,Ciudad Autónoma de Buenos Aires,Comuna 8,Comuna 8,0088,02,008,"POLYGON Z ((-6509495.834 -4096454.887 0.000, -..."

In [19]:
#Se limpia la tabla para conservar las variables requeridas
cdg = censo[["circuito","departamen","geometry"]].sort_values(by="circuito").reset_index(drop=True)
cdg

    circuito departamen                                           geometry
0       0001   Comuna 1  POLYGON Z ((-6497294.216 -4088142.493 0.000, -...
1       0002   Comuna 1  POLYGON Z ((-6498537.655 -4087740.684 0.000, -...
2       0003   Comuna 1  POLYGON Z ((-6496304.252 -4084732.697 0.000, -...
3       0004   Comuna 1  POLYGON Z ((-6497398.411 -4087025.705 0.000, -...
4       0005   Comuna 1  MULTIPOLYGON Z (((-6497185.903 -4082052.692 0....
..       ...        ...                                                ...
162     0163  Comuna 15  POLYGON Z ((-6505348.070 -4083866.211 0.000, -...
163     0164  Comuna 15  POLYGON Z ((-6507652.050 -4084945.661 0.000, -...
164     0165  Comuna 15  POLYGON Z ((-6508638.340 -4081745.040 0.000, -...
165     0166  Comuna 15  POLYGON Z ((-6508941.686 -4083702.129 0.000, -...
166     0167  Comuna 15  POLYGON Z ((-6509514.870 -4084304.493 0.000, -...

[167 rows x 3 columns]

In [27]:
cdg.dtypes

circuito         int32
departamen      object
geometry      geometry
dtype: object

In [26]:
#Se modifica el tipo de dato en la variable "circuito" para combinar tablas 
cdg = cdg.astype({"circuito":int})
cdg.dtypes

circuito         int32
departamen      object
geometry      geometry
dtype: object

In [24]:
#Para la tabla abc (votoxpartido -hay que unificar nombre de tablas-) se agrupa para conocer los datos de nuestro candidato
abc = pd.read_csv('paso_x_partido.csv')
(pasoxpartido[["circuito","pp2"]]
    .groupby(["circuito"])
    .agg(["sum"])
)

           pp2
           sum
circuito
1         2113
2         2122
3          812
4          371
5         4071
...        ...
163       2276
164       1900
165       3588
166       2569
167       2033

[167 rows x 1 columns]

In [28]:
#Se combinan las tablas cdg y abc/votosxpartido para posteriormente utilizar geopandas con la variable "geometry"
informe_inner = pd.merge(cdg, abc, on="circuito", how="inner")
informe_inner

,circuito,departamen,geometry,Unnamed: 0,urna,pp1,pp2,pp3,pp4,nv
0,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",0,0,64,74,49,50,63
1,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",1,1,79,81,44,36,60
2,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",2,2,72,74,55,34,65
3,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",3,3,82,80,37,38,63
4,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",4,4,64,87,57,28,64
...,...,...,...,...,...,...,...,...,...,...
7634,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7634,32,76,46,56,66,56
7635,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7635,33,62,59,51,57,71
7636,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7636,34,63,52,51,69,65
7637,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7637,35,68,66,51,64,51
7638,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7638,36,70,42,39,57,41

In [41]:
#Se busca conocer la distribución porcentual de votos para nuestro candidato por comuna
porcentaje_comuna = informe_inner[["departamen","pp2"]].groupby(["departamen"]).agg(["sum"])
porcentaje_comuna.apply(lambda x: x / float(x.sum())*100)

                 pp2
                 sum
departamen
Comuna 1    9.450333
Comuna 10   4.673470
Comuna 11   4.830750
Comuna 12   5.496667
Comuna 13   5.926009
Comuna 14   6.824340
Comuna 15   5.990848
Comuna 2    4.805121
Comuna 3    7.902294
Comuna 4    9.968829
Comuna 5    6.259406
Comuna 6    4.896027
Comuna 7    8.139089
Comuna 8    9.496991
Comuna 9    5.339826

In [38]:
#Se añade la columna "suma_votos" para posteriormente conocer la cantidad de votantes por comuna y realizar un mapeo de dicho dato 
informe_inner['suma_votos'] = informe_inner.loc[0:7639,["pp2","pp1","pp3","pp4","nv"]].sum(axis=1)
informe_inner

,circuito,departamen,geometry,Unnamed: 0,urna,pp1,pp2,pp3,pp4,nv,suma_votos
0,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",0,0,64,74,49,50,63,300
1,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",1,1,79,81,44,36,60,300
2,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",2,2,72,74,55,34,65,300
3,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",3,3,82,80,37,38,63,300
4,1,Comuna 1,"POLYGON Z ((-6497294.216 -4088142.493 0.000, -...",4,4,64,87,57,28,64,300
...,...,...,...,...,...,...,...,...,...,...,...
7634,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7634,32,76,46,56,66,56,300
7635,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7635,33,62,59,51,57,71,300
7636,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7636,34,63,52,51,69,65,300
7637,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7637,35,68,66,51,64,51,300
7638,167,Comuna 15,"POLYGON Z ((-6509514.870 -4084304.493 0.000, -...",7638,36,70,42,39,57,41,249

In [34]:
#Se agrupa por "departamen" y "suma_votos" para conocer la cantidad de votantes por comuna 
agrupadoxcomuna = (informe_inner[["departamen","geometry","suma_votos"]]
    .groupby(["departamen"])
    .agg(["sum"]))
agrupadoxcomuna

C:\Users\josef\AppData\Local\Temp\ipykernel_79788\2635587467.py:3: FutureWarning: ['geometry'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  .agg(["sum"]))

           suma_votos
                  sum
departamen
Comuna 1       152133
Comuna 10      130640
Comuna 11      149400
Comuna 12      160615
Comuna 13      189239
Comuna 14      187258
Comuna 15      145405
Comuna 2       131840
Comuna 3       148975
Comuna 4       161471
Comuna 5       144560
Comuna 6       143139
Comuna 7       168166
Comuna 8       130801
Comuna 9       123753