In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import numpy as np

In [2]:
dpto = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\dpto.csv")
dpto

,DPTO_REF_ID,PROV_REF_ID,IDDPTO,DPTO,NOMDPTO
0,1,1,1,2001,Comuna 01 ...
1,2,1,2,2002,Comuna 02 ...
2,3,1,3,2003,Comuna 03 ...
3,4,1,4,2004,Comuna 04 ...
4,5,1,5,2005,Comuna 05 ...
5,6,1,6,2006,Comuna 06 ...
6,7,1,7,2007,Comuna 07 ...
7,8,1,8,2008,Comuna 08 ...
8,9,1,9,2009,Comuna 09 ...
9,10,1,10,2010,Comuna 10 ...
10,11,1,11,2011,Comuna 11 ...
11,12,1,12,2012,Comuna 12 ...
12,13,1,13,2013,Comuna 13 ...
13,14,1,14,2014,Comuna 14 ...
14,15,1,15,2015,Comuna 15 ...

In [3]:
prov = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\prov.csv")
prov

,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV
0,1,1,2,2,Ciudad Autónoma de Buenos Aires ...
1,2,1,6,6,Buenos Aires ...
2,3,1,10,10,Catamarca ...
3,4,1,14,14,Córdoba ...
4,5,1,18,18,Corrientes ...
5,6,1,22,22,Chaco ...
6,7,1,26,26,Chubut ...
7,8,1,30,30,Entre Ríos ...
8,9,1,34,34,Formosa ...
9,10,1,38,38,Jujuy ...
10,11,1,42,42,La Pampa ...
11,12,1,46,46,La Rioja ...
12,13,1,50,50,Mendoza ...
13,14,1,54,54,Misiones ...
14,15,1,58,58,Neuquén ...
15,16,1,62,62,Río negro ...
16,17,1,66,66,Salta ...
17,18,1,70,70,San Juan ...
18,19,1,74,74,San Luis ...
19,20,1,78,78,Santa Cruz ...
20,21,1,82,82,Santa Fe ...
21,22,1,86,86,Santiago del Estero ...
22,23,1,90,90,Tucumán ...
23,24,1,94,94,Tierra del Fuego ...

In [4]:
prov_dpto_in = pd.merge(prov, dpto, on="PROV_REF_ID", how="inner")
prov_dpto_in

,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,DPTO_REF_ID,IDDPTO,DPTO,NOMDPTO
0,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,1,2001,Comuna 01 ...
1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,2,2,2002,Comuna 02 ...
2,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,3,3,2003,Comuna 03 ...
3,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,4,4,2004,Comuna 04 ...
4,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,5,5,2005,Comuna 05 ...
5,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,6,6,2006,Comuna 06 ...
6,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,7,7,2007,Comuna 07 ...
7,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,8,8,2008,Comuna 08 ...
8,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,9,9,2009,Comuna 09 ...
9,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,10,10,2010,Comuna 10 ...
10,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,11,11,2011,Comuna 11 ...
11,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,12,12,2012,Comuna 12 ...
12,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,13,13,2013,Comuna 13 ...
13,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,14,14,2014,Comuna 14 ...
14,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,15,2015,Comuna 15 ...

In [5]:
frac = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\frac.csv")
frac

     FRAC_REF_ID  DPTO_REF_ID  IDFRAC
0              1            1       1
1              2            1       2
2              3            1       3
3              4            1       4
4              5            1       5
..           ...          ...     ...
346          347           15      17
347          348           15      18
348          349           15      19
349          350           15      20
350          351           15      21

[351 rows x 3 columns]

In [6]:
frac_dp_in = pd.merge(frac, prov_dpto_in, on="DPTO_REF_ID", how="inner")
frac_dp_in

,FRAC_REF_ID,DPTO_REF_ID,IDFRAC,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,IDDPTO,DPTO,NOMDPTO
0,1,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
1,2,1,2,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
2,3,1,3,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
3,4,1,4,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
4,5,1,5,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
...,...,...,...,...,...,...,...,...,...,...,...
346,347,15,17,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
347,348,15,18,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
348,349,15,19,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
349,350,15,20,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
350,351,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...

In [7]:
radio = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\radio.csv")
radio

      RADIO_REF_ID  FRAC_REF_ID  IDRADIO
0                1            1        1
1                2            2        1
2                3            2        2
3                4            2        3
4                5            2        4
...            ...          ...      ...
3547          3549          351        9
3548          3550          351       10
3549          3551          351       11
3550          3552          351       12
3551          3553          351       13

[3552 rows x 3 columns]

In [8]:
radio_frac_in = pd.merge(radio, frac_dp_in, on="FRAC_REF_ID", how="inner")

In [9]:
radio_frac_in.columns

Index(['RADIO_REF_ID', 'FRAC_REF_ID', 'IDRADIO', 'DPTO_REF_ID', 'IDFRAC',
       'PROV_REF_ID', 'CPV2010_REF_ID', 'IDPROV', 'PROV', 'NOMPROV', 'IDDPTO',
       'DPTO', 'NOMDPTO'],
      dtype='object')

In [10]:
vivienda = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\vivienda.csv")
vivienda = vivienda

### Cambio el merge inner por un right

In [11]:
radiofrac_viv_in = pd.merge(vivienda,radio_frac_in,on="RADIO_REF_ID",how="right")
radiofrac_viv_in

,VIVIENDA_REF_ID,RADIO_REF_ID,TIPVV,V01,V02,V00,URP,INCALSERV,INMAT,MUNI,...,DPTO_REF_ID,IDFRAC,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,IDDPTO,DPTO,NOMDPTO
0,1,1,1,1,1,0,1,1,1,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
1,2,1,1,7,1,0,1,1,2,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
2,3,1,1,4,1,0,1,1,1,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
3,4,1,1,4,1,0,1,1,1,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
4,5,1,1,1,1,0,1,3,3,20010001,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085458,1426434,3553,1,4,1,0,1,1,1,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1085459,1426435,3553,1,4,1,0,1,1,1,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1085460,1426436,3553,1,4,1,0,1,1,1,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1085461,1426437,3553,2,0,0,9,1,0,0,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
1085462,1426438,3553,2,0,0,1,1,0,0,20150001,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...

In [12]:
radiofrac_viv_in.columns

Index(['VIVIENDA_REF_ID', 'RADIO_REF_ID', 'TIPVV', 'V01', 'V02', 'V00', 'URP',
       'INCALSERV', 'INMAT', 'MUNI', 'LOCAL', 'INCALCONS', 'TOTHOG',
       'FRAC_REF_ID', 'IDRADIO', 'DPTO_REF_ID', 'IDFRAC', 'PROV_REF_ID',
       'CPV2010_REF_ID', 'IDPROV', 'PROV', 'NOMPROV', 'IDDPTO', 'DPTO',
       'NOMDPTO'],
      dtype='object')

In [13]:
hogar = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\hogar.csv")
hogar.head()

,HOGAR_REF_ID,VIVIENDA_REF_ID,NHOG,H05,H06,H07,H08,H09,H10,H11,...,H15,H16,H19A,H19B,H19C,H19D,PROP,INDHAC,TOTPERS,ALGUNBI
0,1,1,1,1,4,1,1,1,1,1,...,2,2,1,2,1,2,5,1,1,0
1,2,1,2,1,1,1,1,1,1,1,...,1,2,1,1,1,1,1,1,1,0
2,3,1,4,1,3,1,1,1,1,1,...,3,5,1,1,1,1,1,1,2,0
3,4,1,6,1,1,1,1,1,1,1,...,3,5,1,1,1,1,5,6,8,1
4,5,2,1,1,1,2,1,1,1,1,...,5,5,1,1,2,1,6,1,2,1

In [14]:
radiofracviv_hog_in = pd.merge(hogar,radiofrac_viv_in,on="VIVIENDA_REF_ID",how="left")

In [15]:
radiofracviv_hog_in.columns

Index(['HOGAR_REF_ID', 'VIVIENDA_REF_ID', 'NHOG', 'H05', 'H06', 'H07', 'H08',
       'H09', 'H10', 'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H19A', 'H19B',
       'H19C', 'H19D', 'PROP', 'INDHAC', 'TOTPERS', 'ALGUNBI', 'RADIO_REF_ID',
       'TIPVV', 'V01', 'V02', 'V00', 'URP', 'INCALSERV', 'INMAT', 'MUNI',
       'LOCAL', 'INCALCONS', 'TOTHOG', 'FRAC_REF_ID', 'IDRADIO', 'DPTO_REF_ID',
       'IDFRAC', 'PROV_REF_ID', 'CPV2010_REF_ID', 'IDPROV', 'PROV', 'NOMPROV',
       'IDDPTO', 'DPTO', 'NOMDPTO'],
      dtype='object')

In [16]:
persona = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\persona.csv")
persona.head()

,PERSONA_REF_ID,HOGAR_REF_ID,P01,P02,P03,P05,P06,P07,P12,EDADAGRU,EDADQUI,P08,P09,P10,CONDACT
0,1,1,1,2,61,1,0,1,2,2,13,2,4,2,1
1,2,2,1,1,48,1,0,1,1,2,10,2,4,1,1
2,3,3,1,1,65,1,0,1,1,3,14,2,7,2,1
3,4,3,2,2,62,1,0,1,1,2,13,2,6,1,3
4,5,4,1,1,20,2,221,1,1,2,5,1,4,2,1

In [17]:
radiofracvivhog_per_in = pd.merge(persona,radiofracviv_hog_in,on="HOGAR_REF_ID",how="right")
radiofracvivhog_per_in

,PERSONA_REF_ID,HOGAR_REF_ID,P01,P02,P03,P05,P06,P07,P12,EDADAGRU,...,DPTO_REF_ID,IDFRAC,PROV_REF_ID,CPV2010_REF_ID,IDPROV,PROV,NOMPROV,IDDPTO,DPTO,NOMDPTO
0,1,1,1,2,61,1,0,1,2,2,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
1,2,2,1,1,48,1,0,1,1,2,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
2,3,3,1,1,65,1,0,1,1,3,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
3,4,3,2,2,62,1,0,1,1,2,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
4,5,4,1,1,20,2,221,1,1,2,...,1,1,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,1,2001,Comuna 01 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890146,2890147,1152599,0,2,95,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
2890147,2890148,1152599,0,2,91,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
2890148,2890149,1152599,0,2,83,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
2890149,2890150,1152599,0,2,89,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...
2890150,2890151,1152599,0,1,93,1,0,1,0,3,...,15,21,1,1,2,2,Ciudad Autónoma de Buenos Aires ...,15,2015,Comuna 15 ...

In [18]:
radiofracvivhog_per_in.columns

Index(['PERSONA_REF_ID', 'HOGAR_REF_ID', 'P01', 'P02', 'P03', 'P05', 'P06',
       'P07', 'P12', 'EDADAGRU', 'EDADQUI', 'P08', 'P09', 'P10', 'CONDACT',
       'VIVIENDA_REF_ID', 'NHOG', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10',
       'H11', 'H12', 'H13', 'H14', 'H15', 'H16', 'H19A', 'H19B', 'H19C',
       'H19D', 'PROP', 'INDHAC', 'TOTPERS', 'ALGUNBI', 'RADIO_REF_ID', 'TIPVV',
       'V01', 'V02', 'V00', 'URP', 'INCALSERV', 'INMAT', 'MUNI', 'LOCAL',
       'INCALCONS', 'TOTHOG', 'FRAC_REF_ID', 'IDRADIO', 'DPTO_REF_ID',
       'IDFRAC', 'PROV_REF_ID', 'CPV2010_REF_ID', 'IDPROV', 'PROV', 'NOMPROV',
       'IDDPTO', 'DPTO', 'NOMDPTO'],
      dtype='object')

## SE CREA COLUMNA "RADIO"

In [21]:
radio_frac_in.columns

Index(['RADIO_REF_ID', 'FRAC_REF_ID', 'IDRADIO', 'DPTO_REF_ID', 'IDFRAC',
       'PROV_REF_ID', 'CPV2010_REF_ID', 'IDPROV', 'PROV', 'NOMPROV', 'IDDPTO',
       'DPTO', 'NOMDPTO'],
      dtype='object')

In [22]:
radiofracvivhog_per_in["IDRADIO"] = radiofracvivhog_per_in["IDRADIO"].astype(str)
radiofracvivhog_per_in["IDRADIO"] = radiofracvivhog_per_in["IDRADIO"].str.pad(width=2, side="left", fillchar="0")
radiofracvivhog_per_in["IDRADIO"]

0          01
1          01
2          01
3          01
4          01
           ..
2890146    13
2890147    13
2890148    13
2890149    13
2890150    13
Name: IDRADIO, Length: 2890151, dtype: object

In [23]:
radiofracvivhog_per_in["IDDPTO"] = radiofracvivhog_per_in["IDDPTO"].astype(str)
radiofracvivhog_per_in["IDDPTO"] = radiofracvivhog_per_in["IDDPTO"].str.pad(width=3, side="left", fillchar="0")
radiofracvivhog_per_in["IDDPTO"]

0          001
1          001
2          001
3          001
4          001
          ...
2890146    015
2890147    015
2890148    015
2890149    015
2890150    015
Name: IDDPTO, Length: 2890151, dtype: object

In [24]:
radiofracvivhog_per_in["IDFRAC"] = radiofracvivhog_per_in["IDFRAC"].astype(str)
radiofracvivhog_per_in["IDFRAC"] = radiofracvivhog_per_in["IDFRAC"].str.pad(width=2, side="left", fillchar="0")
radiofracvivhog_per_in["IDFRAC"]

0          01
1          01
2          01
3          01
4          01
           ..
2890146    21
2890147    21
2890148    21
2890149    21
2890150    21
Name: IDFRAC, Length: 2890151, dtype: object

In [25]:
radiofracvivhog_per_in["IDPROV"] = radiofracvivhog_per_in["IDPROV"].astype(str)
radiofracvivhog_per_in["IDPROV"] = radiofracvivhog_per_in["IDPROV"].str.pad(width=2, side="left", fillchar="0")
radiofracvivhog_per_in["IDPROV"]

0          02
1          02
2          02
3          02
4          02
           ..
2890146    02
2890147    02
2890148    02
2890149    02
2890150    02
Name: IDPROV, Length: 2890151, dtype: object

In [26]:
MasterID = radiofracvivhog_per_in["RADIO"] = radiofracvivhog_per_in["IDPROV"] + radiofracvivhog_per_in["IDDPTO"] + radiofracvivhog_per_in["IDFRAC"] + radiofracvivhog_per_in["IDRADIO"]
MasterID

0          020010101
1          020010101
2          020010101
3          020010101
4          020010101
             ...
2890146    020152113
2890147    020152113
2890148    020152113
2890149    020152113
2890150    020152113
Length: 2890151, dtype: object

In [27]:
MasterID = MasterID.to_frame()

In [28]:
MasterID = MasterID.rename(columns={0:"RADIO"})
MasterID

             RADIO
0        020010101
1        020010101
2        020010101
3        020010101
4        020010101
...            ...
2890146  020152113
2890147  020152113
2890148  020152113
2890149  020152113
2890150  020152113

[2890151 rows x 1 columns]

## SE CREA ROSETTA CON LAS VARIABLES DEL CENSO Y EL RADIO

In [29]:
rosetta = radiofracvivhog_per_in.drop(['P01','P06','EDADAGRU', 'EDADQUI','NHOG','URP', 'MUNI', 'LOCAL','TOTHOG', 'FRAC_REF_ID', 'IDRADIO', 'DPTO_REF_ID',
       'IDFRAC', 'PROV_REF_ID', 'CPV2010_REF_ID', 'IDPROV', 'PROV', 'NOMPROV',
       'IDDPTO', 'DPTO', 'NOMDPTO'], axis=1)

In [30]:
rosetta.rename(columns={'P02':'SEXO', 'P03':'EDAD', 'P05':'P_NACDAD', 'P07':'P_ALFAB', 'P12':'P_CONMPU', 
'P08':'P_ASISTEDU', 'P09':'P_NIVELED', 'P10':'P_COMPLED','H05':'H_MAT_PISO', 'H06':'H_MAT_CUBTA', 'H07':'H_REVEST', 'H08':'H_AGUA', 
'H09':'H_PROC_AGUA', 'H10':'BAÑO', 'H11':'H_LIMP_I', 'H12':'H_DESAGUE_I', 'H13':'H_BAÑO_EXC', 'H14':'H_COMBUST', 'H15':'H_HABI_DOR', 
'H16':'H_HABI_TOT', 'H19A':'HELADERA', 'H19B':'H_COMPUTADORA', 'H19C':'CELULAR', 'H19D':'TELEFONO','TIPVV':'VV_TIPO','V01':'VV_PART', 
'V02':'VV_OCUP', 'V00':'VV_COLEC', 'INCALSERV':'VV_CALIDAD_SERVS', 'INMAT':'VV_CALIDAD_MAT', 'INCALCONS':'VV_CALIDAD_CONS'}, inplace=True)
rosetta

,PERSONA_REF_ID,HOGAR_REF_ID,SEXO,EDAD,P_NACDAD,P_ALFAB,P_CONMPU,P_ASISTEDU,P_NIVELED,P_COMPLED,...,ALGUNBI,RADIO_REF_ID,VV_TIPO,VV_PART,VV_OCUP,VV_COLEC,VV_CALIDAD_SERVS,VV_CALIDAD_MAT,VV_CALIDAD_CONS,RADIO
0,1,1,2,61,1,1,2,2,4,2,...,0,1,1,1,1,0,1,1,1,020010101
1,2,2,1,48,1,1,1,2,4,1,...,0,1,1,1,1,0,1,1,1,020010101
2,3,3,1,65,1,1,1,2,7,2,...,0,1,1,1,1,0,1,1,1,020010101
3,4,3,2,62,1,1,1,2,6,1,...,0,1,1,1,1,0,1,1,1,020010101
4,5,4,1,20,2,1,1,1,4,2,...,1,1,1,1,1,0,1,1,1,020010101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2890146,2890147,1152599,2,95,1,1,0,2,2,1,...,2,3553,2,0,0,1,0,0,0,020152113
2890147,2890148,1152599,2,91,1,1,0,2,6,1,...,2,3553,2,0,0,1,0,0,0,020152113
2890148,2890149,1152599,2,83,1,1,0,2,2,1,...,2,3553,2,0,0,1,0,0,0,020152113
2890149,2890150,1152599,2,89,1,1,0,2,2,1,...,2,3553,2,0,0,1,0,0,0,020152113
2890150,2890151,1152599,1,93,1,1,0,2,2,1,...,2,3553,2,0,0,1,0,0,0,020152113

In [31]:
rosetta.to_csv("rosetta.csv", index=True)