In [1]:
import pandas as pd, matplotlib.pyplot as plt, geopandas as gpd, contextily as ctx, numpy as np

In [9]:
data = "CABA_radios.shp"
radio = gpd.read_file(data)

In [46]:
radio["RADIO_REF_ID"] = radio.index
radio

,RADIO,VULNERABIL,NSE,CENTRO_DE_,HOSPITAL,POSTA_SANI,IDPROV,PROV,IDDPTO,DPTO,REDCODE,RADIOS_POB,RADIOS_HOG,RADIOS_LAT,RADIOS_LON,RADIOS_SUP,geometry,RADIO_REF_ID
0,020010101,0.802284,-0.456724,16.348,38.006,105.48,02,Ciudad Autónoma de Buenos Aires,02001,Comuna 1,020010101,336,65,-34.586689,-58.368836,1.794,"POLYGON ((-58.37430 -34.57870, -58.36801 -34.5...",0
1,020010201,0.817588,-0.456724,16.976,46.61,133.978,02,Ciudad Autónoma de Buenos Aires,02001,Comuna 1,020010201,478,161,-34.578623,-58.386987,0.027,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5...",1
2,020010202,0.820031,-0.456724,18.384,48.838,135.066,02,Ciudad Autónoma de Buenos Aires,02001,Comuna 1,020010202,401,128,-34.579194,-58.387533,0.018,"POLYGON ((-58.38909 -34.57855, -58.38890 -34.5...",2
3,020010203,0.818413,-0.456724,14.448,48.746,131.126,02,Ciudad Autónoma de Buenos Aires,02001,Comuna 1,020010203,337,104,-34.580158,-58.385503,0.011,"POLYGON ((-58.38603 -34.57947, -58.38508 -34.5...",3
4,020010204,0.825755,-0.456724,11.074,50.410000000000004,121.272,02,Ciudad Autónoma de Buenos Aires,02001,Comuna 1,020010204,602,163,-34.580006,-58.382654,0.136,"POLYGON ((-58.38562 -34.57822, -58.38551 -34.5...",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3548,020152109,0.082985,0.455652,9.706,12.128,112.78,02,Ciudad Autónoma de Buenos Aires,02015,Comuna 15,020152109,863,392,-34.599727,-58.431162,0.020,"POLYGON ((-58.43221 -34.59950, -58.43113 -34.5...",3548
3549,020152110,0.073872,0.520911,7.61,13.622,113.328,02,Ciudad Autónoma de Buenos Aires,02015,Comuna 15,020152110,613,278,-34.598933,-58.430166,0.016,"POLYGON ((-58.43113 -34.59880, -58.43006 -34.5...",3549
3550,020152111,0.076228,0.530775,8.342,14.754,113.234,02,Ciudad Autónoma de Buenos Aires,02015,Comuna 15,020152111,697,335,-34.598226,-58.429006,0.018,"POLYGON ((-58.43006 -34.59811, -58.42899 -34.5...",3550
3551,020152112,0.193413,0.306683,9.968,17.104,113.058,02,Ciudad Autónoma de Buenos Aires,02015,Comuna 15,020152112,510,217,-34.597576,-58.427811,0.020,"POLYGON ((-58.42899 -34.59743, -58.42784 -34.5...",3551
3552,020152113,0.147968,0.460590,10.548,16.83,113.03,02,Ciudad Autónoma de Buenos Aires,02015,Comuna 15,020152113,895,389,-34.597213,-58.425920,0.039,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5...",3552

In [47]:
radios = radio[["RADIO_REF_ID","RADIO","DPTO","IDDPTO","geometry"]]

In [48]:
radios

,RADIO_REF_ID,RADIO,DPTO,IDDPTO,geometry
0,0,020010101,Comuna 1,02001,"POLYGON ((-58.37430 -34.57870, -58.36801 -34.5..."
1,1,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
2,2,020010202,Comuna 1,02001,"POLYGON ((-58.38909 -34.57855, -58.38890 -34.5..."
3,3,020010203,Comuna 1,02001,"POLYGON ((-58.38603 -34.57947, -58.38508 -34.5..."
4,4,020010204,Comuna 1,02001,"POLYGON ((-58.38562 -34.57822, -58.38551 -34.5..."
...,...,...,...,...,...
3548,3548,020152109,Comuna 15,02015,"POLYGON ((-58.43221 -34.59950, -58.43113 -34.5..."
3549,3549,020152110,Comuna 15,02015,"POLYGON ((-58.43113 -34.59880, -58.43006 -34.5..."
3550,3550,020152111,Comuna 15,02015,"POLYGON ((-58.43006 -34.59811, -58.42899 -34.5..."
3551,3551,020152112,Comuna 15,02015,"POLYGON ((-58.42899 -34.59743, -58.42784 -34.5..."
3552,3552,020152113,Comuna 15,02015,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5..."

In [5]:
data2 = "censo_base.csv"
censo_base = pd.read_csv(data2)

In [24]:
censo_base

,PERSONA_REF_ID,RADIO_REF_ID,COMUNA,TELEFONO,SEXO,EDAD,EDADQUI,NIVEL_EDU,CONDACT,ALGUNBI,INDHAC
0,1,1,20010001,2,2,61,13,4,1,0,1
1,2,1,20010001,1,1,48,10,4,1,0,1
2,3,1,20010001,1,1,65,14,7,1,0,1
3,4,1,20010001,1,2,62,13,6,3,0,1
4,5,1,20010001,1,1,20,5,4,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...
2890146,2890147,3553,20150001,0,2,95,20,2,0,2,7
2890147,2890148,3553,20150001,0,2,91,19,6,0,2,7
2890148,2890149,3553,20150001,0,2,83,17,2,0,2,7
2890149,2890150,3553,20150001,0,2,89,18,2,0,2,7
2890150,2890151,3553,20150001,0,1,93,19,2,0,2,7

Mergear para mapear

In [54]:
mergear = censo_base[["RADIO_REF_ID","TELEFONO"]]
mergear

         RADIO_REF_ID  TELEFONO
0                   1         2
1                   1         1
2                   1         1
3                   1         1
4                   1         1
...               ...       ...
2890146          3553         0
2890147          3553         0
2890148          3553         0
2890149          3553         0
2890150          3553         0

[2890151 rows x 2 columns]

In [56]:
tabla1 = (mergear.groupby(["RADIO_REF_ID","TELEFONO"])
          .size()
          .to_frame()
)

tabla1

                         0
RADIO_REF_ID TELEFONO
1            0         129
             1         146
             2          61
2            0           5
             1         183
...                    ...
3552         1         362
             2         148
3553         0          32
             1         781
             2          82

[8426 rows x 1 columns]

In [49]:
radios_inner = pd.merge(tabla1,radios, on="RADIO_REF_ID", how="inner")
radios_inner

,RADIO_REF_ID,0,RADIO,DPTO,IDDPTO,geometry
0,1,129,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
1,1,146,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
2,1,61,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
3,2,5,020010202,Comuna 1,02001,"POLYGON ((-58.38909 -34.57855, -58.38890 -34.5..."
4,2,183,020010202,Comuna 1,02001,"POLYGON ((-58.38909 -34.57855, -58.38890 -34.5..."
...,...,...,...,...,...,...
8418,3550,61,020152111,Comuna 15,02015,"POLYGON ((-58.43006 -34.59811, -58.42899 -34.5..."
8419,3551,611,020152112,Comuna 15,02015,"POLYGON ((-58.42899 -34.59743, -58.42784 -34.5..."
8420,3551,86,020152112,Comuna 15,02015,"POLYGON ((-58.42899 -34.59743, -58.42784 -34.5..."
8421,3552,362,020152113,Comuna 15,02015,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5..."
8422,3552,148,020152113,Comuna 15,02015,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5..."

In [57]:
radios_inner = pd.merge(mergear, radios, on="RADIO_REF_ID", how="inner")
radios_inner

,RADIO_REF_ID,TELEFONO,RADIO,DPTO,IDDPTO,geometry
0,1,2,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
1,1,1,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
2,1,1,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
3,1,1,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
4,1,1,020010201,Comuna 1,02001,"POLYGON ((-58.38920 -34.57818, -58.38893 -34.5..."
...,...,...,...,...,...,...
2889251,3552,2,020152113,Comuna 15,02015,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5..."
2889252,3552,2,020152113,Comuna 15,02015,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5..."
2889253,3552,2,020152113,Comuna 15,02015,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5..."
2889254,3552,1,020152113,Comuna 15,02015,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5..."
2889255,3552,1,020152113,Comuna 15,02015,"POLYGON ((-58.42784 -34.59670, -58.42702 -34.5..."

AHORA HAY QUE AGRUPAR