In [21]:
import pandas as pd, matplotlib.pyplot as plt, geopandas as gpd, contextily as ctx, numpy as np

In [22]:
rosetta = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\rosetta.csv")
rosetta

,Unnamed: 0,IDPROV,IDDPTO,IDRADIO,RADIO_REF_ID,VIVIENDA_REF_ID,HOGAR_REF_ID,PERSONA_REF_ID,MasterID
0,0,2,1,1,1,1,1,1,20010101
1,1,2,1,1,1,1,2,2,20010101
2,2,2,1,1,1,1,3,3,20010101
3,3,2,1,1,1,1,3,4,20010101
4,4,2,1,1,1,1,4,5,20010101
...,...,...,...,...,...,...,...,...,...
2890146,2890146,2,15,13,3553,1426438,1152599,2890147,20152113
2890147,2890147,2,15,13,3553,1426438,1152599,2890148,20152113
2890148,2890148,2,15,13,3553,1426438,1152599,2890149,20152113
2890149,2890149,2,15,13,3553,1426438,1152599,2890150,20152113
2890150,2890150,2,15,13,3553,1426438,1152599,2890151,20152113

In [23]:
hogar_vivienda_personas_ = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\censo_base.csv")
hogar_vivienda_personas_

,PERSONA_REF_ID,RADIO_REF_ID,COMUNA,TELEFONO,SEXO,EDAD,EDADQUI,NIVEL_EDU,CONDACT,ALGUNBI,INDHAC
0,1,1,20010001,2,2,61,13,4,1,0,1
1,2,1,20010001,1,1,48,10,4,1,0,1
2,3,1,20010001,1,1,65,14,7,1,0,1
3,4,1,20010001,1,2,62,13,6,3,0,1
4,5,1,20010001,1,1,20,5,4,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...
2890146,2890147,3553,20150001,0,2,95,20,2,0,2,7
2890147,2890148,3553,20150001,0,2,91,19,6,0,2,7
2890148,2890149,3553,20150001,0,2,83,17,2,0,2,7
2890149,2890150,3553,20150001,0,2,89,18,2,0,2,7
2890150,2890151,3553,20150001,0,1,93,19,2,0,2,7

In [27]:
tabla_intermedia0 = pd.read_csv(r"C:\Users\josef\Desktop\Hermes Winner\tabla_intermedia.csv")
tabla_intermedia0

,Unnamed: 0,index_left,RADIO,RADIO_REF_ID,departamen,indec_d,indec_p,circuito,geometry,RADIO.CIRCUITO
0,5,0,20010101,0,Comuna 1,1,2,5,MULTIPOLYGON Z (((-58.36521399999999 -34.57519...,20010005
1,5,1,20010201,1,Comuna 1,1,2,5,MULTIPOLYGON Z (((-58.36521399999999 -34.57519...,20010005
2,5,2,20010202,2,Comuna 1,1,2,5,MULTIPOLYGON Z (((-58.36521399999999 -34.57519...,20010005
3,5,3,20010203,3,Comuna 1,1,2,5,MULTIPOLYGON Z (((-58.36521399999999 -34.57519...,20010005
4,5,4,20010204,4,Comuna 1,1,2,5,MULTIPOLYGON Z (((-58.36521399999999 -34.57519...,20010005
...,...,...,...,...,...,...,...,...,...,...
3545,147,3548,20152109,3548,Comuna 15,15,2,158,"POLYGON Z ((-58.423364 -34.597753 0, -58.42375...",20150158
3546,147,3549,20152110,3549,Comuna 15,15,2,158,"POLYGON Z ((-58.423364 -34.597753 0, -58.42375...",20150158
3547,147,3550,20152111,3550,Comuna 15,15,2,158,"POLYGON Z ((-58.423364 -34.597753 0, -58.42375...",20150158
3548,147,3551,20152112,3551,Comuna 15,15,2,158,"POLYGON Z ((-58.423364 -34.597753 0, -58.42375...",20150158
3549,147,3552,20152113,3552,Comuna 15,15,2,158,"POLYGON Z ((-58.423364 -34.597753 0, -58.42375...",20150158

In [28]:
tabla_intermedia0.drop(["Unnamed: 0"], axis=1)
tabla_intermedia = tabla_intermedia0[["RADIO", "RADIO_REF_ID",	"circuito",	"RADIO.CIRCUITO"]]
tabla_intermedia

         RADIO  RADIO_REF_ID  circuito  RADIO.CIRCUITO
0     20010101             0         5        20010005
1     20010201             1         5        20010005
2     20010202             2         5        20010005
3     20010203             3         5        20010005
4     20010204             4         5        20010005
...        ...           ...       ...             ...
3545  20152109          3548       158        20150158
3546  20152110          3549       158        20150158
3547  20152111          3550       158        20150158
3548  20152112          3551       158        20150158
3549  20152113          3552       158        20150158

[3550 rows x 4 columns]

In [26]:
circuitos_geometria = gpd.read_file(r"C:\Users\josef\Desktop\Hermes Winner\BB.DD\CABA.shp")
circuitos_geometria

,distrito,provincia,departamen,cabecera,circuito,indec_p,indec_d,geometry
0,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 1,Comuna 1,0003,02,001,"POLYGON Z ((-6496304.252 -4084732.697 0.000, -..."
1,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 4,Comuna 4,0045,02,004,"POLYGON Z ((-6501230.474 -4091702.182 0.000, -..."
2,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 3,Comuna 3,0037,02,003,"POLYGON Z ((-6501166.688 -4087904.826 0.000, -..."
3,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 1,Comuna 1,0018,02,001,"POLYGON Z ((-6498832.986 -4088373.028 0.000, -..."
4,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 13,Comuna 13,0141,02,013,"POLYGON Z ((-6503862.400 -4078547.361 0.000, -..."
...,...,...,...,...,...,...,...,...
162,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 13,Comuna 13,0135,02,013,"POLYGON Z ((-6507834.614 -4077215.626 0.000, -..."
163,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 14,Comuna 14,0149,02,014,"POLYGON Z ((-6503253.371 -4080723.227 0.000, -..."
164,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 9,Comuna 9,0101,02,009,"POLYGON Z ((-6515182.479 -4090061.116 0.000, -..."
165,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 10,Comuna 10,0102,02,010,"POLYGON Z ((-6514598.831 -4088679.114 0.000, -..."
166,01,Ciudad AutÃ³noma de Buenos Aires,Comuna 8,Comuna 8,0088,02,008,"POLYGON Z ((-6509495.834 -4096454.887 0.000, -..."